<div class="card">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="email" class="form-control" id="title" disabled>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" disabled></textarea>
            </div>
            <div class="mb-3">
                <label for="pageCount" class="form-label">Page Count</label>
                <input type="number" class="form-control" id="pageCount" disabled>
            </div>
            <div class="mb-3">
                <label for="excerpt" class="form-label">Excerpt</label>
                <textarea class="form-control" id="description" disabled></textarea>
            </div>
            <div class="mb-3">
                <label for="publishDate" class="form-label">Publish Date</label>
                <input type="number" class="form-control" id="publishDate" disabled>
            </div>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
    </div>
</div>